<h1>Start</h1>
<router-outlet></router-outlet>
<div style="width: 25vw;">
    <gt-select-maestro [datos]="[' Pinocho dDAWDAWDAWDAWDAWD',2,3,4]"></gt-select-maestro>
</div>
dd
<input placeholder="Escribe..."  matInput type="text"
autocomplete="off">
<mat-form-field appearance="outline">
    <mat-label>vfg</mat-label>
    <mat-select>
        <input placeholder="Escribe..." type="text" id="inputBusqueda">
        <mat-option>
            Pinocho dDAWDAWDAWDAWDAWD
        </mat-option>
        <mat-option>
            2
        </mat-option>
    </mat-select>



</mat-form-field>


<form [formGroup]="formC">
    <gt-chips descripcion="Hola mu" formControlName="campo"></gt-chips>
</form>


<gt-botonera-flotante [acciones]="['salir']"></gt-botonera-flotante>
