<h1>Start</h1>
<router-outlet></router-outlet>
<div style="width: 25vw;">
    <gt-select-maestro [datos]="[' Pinocho dDAWDAWDAWDAWDAWD',2,3,4]"></gt-select-maestro>
</div>
dd
<input placeholder="Escribe..."  matInput type="text"
autocomplete="off">
<mat-form-field appearance="outline">
    <mat-label>vfg</mat-label>
    <mat-select>
        <input placeholder="Escribe..." type="text" id="inputBusqueda">
        <mat-option>
            Pinocho dDAWDAWDAWDAWDAWD
        </mat-option>
        <mat-option>
            2
        </mat-option>
    </mat-select>

    <button matSuffix mat-icon-button type="button" aria-label="Clear">
        <mat-icon>close</mat-icon>
    </button>

</mat-form-field>


<mat-form-field class="example-form-field">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text">
    <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<gt-chips descripcion="Hola mu"></gt-chips>

<gt-slider-maestro label="saludos"></gt-slider-maestro>

<gt-botonera-flotante [acciones]="['salir']"></gt-botonera-flotante>
<gt-tabla [datos]="datos" [visual]="visual" [modelo]="modelo" [acciones]="['eliminarT','editar']" [buscador]="true"></gt-tabla>
