span {
    color: lightslategrey;
    font-size: small;
    vertical-align: top;
}

.mat-chip {
    cursor: pointer;
}

.red {
    background: red!important;
}

.green {
    background: green!important;
}