<div class="chipBox">
    <span class="description" *ngIf="descripcion">{{descripcion}}</span>
    <div class="chips">
        <div [ngClass]="{
            'chip' : true,
            'disabled' : disabled,
            'green':field === true
        }" (click)="writeValue(true)">
            Yes
        </div>
        <div [ngClass]="{
            'chip' : true,
            'disabled' : disabled,
            'red':field === false
        }" (click)="writeValue(false)">
            <span>No</span>
        </div>
    </div>
</div>