.chips {
    display: flex;

    .chip {
        cursor: pointer;
        margin: 0.5vw;
        background-color: #e0e0e0;
        padding: 8px 14px;
        border-radius: 16px;
        transition: background-color 150ms linear;
        transition-duration: 150ms;
        transition-timing-function: linear;
        transition-delay: 0s;
        transition-property: background-color;
    }

    .chip:hover {
        background-color: #c3c3c3;
    }
}

.disabled {
    pointer-events: none;
}


.description {
    padding: 8px 7px;
    font-size: small;
    vertical-align: top;
}

.red {
    background: red !important;
    color: white;
}

.green {
    background: green !important;
    color: white;
}