<div class="chipBox">
    <span class="description" *ngIf="descripcion">({{descripcion}})</span>
    <div class="chips">
        <div
        [ngClass]="{
            'chip' : true,
            'disabled' : disabled,
            'green':control.value === true
        }" (click)="writeValue(true)">
           Si
        </div>
        <div
        [ngClass]="{
            'chip' : true,
            'disabled' : disabled,
            'red':control.value === false
        }" (click)="writeValue(false)">
            <span>No</span> 
        </div>
    </div>

    <mat-error *ngIf="control.hasError('required') && control.touched">Este campo es obligatorio</mat-error>
</div>