@import "../../styles/buttons.scss";
@import "../../styles/dialog.scss";
.btnCancelar {
	color: white;
}

.btnCerrar {
	color: white;
}


.mat-checkbox {
	padding-top: 30px;
	padding-bottom: 10px;
}


.example-spacer {
	flex: 1 1 auto;
}

.slider-label {
	padding-bottom: 12px;
}
mat-form-field{
	width: 100%;
}
.eleFormulario{
	width: 100%;
}
