
.btnCancelar {
	color: white;
}

.btnCerrar {
	color: white;
}


.eleFormulario{
	padding:10px;
}

.mat-checkbox {
	padding-top: 30px;
	padding-bottom: 10px;
}


.example-spacer {
	flex: 1 1 auto;
}

.slider-label {
	padding-bottom: 12px;
}
mat-form-field{
	width: 100%;
}
