<!--GTForm generado con el modelo GTForm-->
<div class="dialog-container">
    <div class="dialog-content">
        <h1>{{formulario.titulo}}</h1>
        <form *ngIf="tableForm" [formGroup]="tableForm">
            <div fxLayout="row wrap" fxLayoutAlign="space-between">
                <ng-container *ngFor="let atributo of modeloDato;let i = index;">
                    <ng-container [ngSwitch]="formulario.controles[atributo].tipo">
                        <!--Control de Texto-->
                        <mat-form-field class="eleFormulario" *ngSwitchCase="'texto'" appearance="outline">
                            <mat-label>{{visualDato[i]}}</mat-label>
                            <input matInput [formControlName]="atributo"
                                [gtConversion]="formulario.controles[atributo]?.subFormato"
                                [maxlength]="tableForm?.get(modeloDato[i])?.errors?.['maxlength']?.requiredLength ?? null">
                            <mat-error gt-matErrorMessages></mat-error>
                        </mat-form-field>
                        <!--Control de Número-->
                        <mat-form-field class="eleFormulario" *ngSwitchCase="'numero'" appearance="outline">
                            <mat-label>{{visualDato[i]}}</mat-label>
                            <input matInput [gtConversion]="GT_TC_F.NUMERO" [formControlName]="atributo">
                            <mat-error gt-matErrorMessages></mat-error>
                        </mat-form-field>
                        <!--Control de Checkbox -->
                        <mat-checkbox class="eleFormulario" *ngSwitchCase="'checkbox'" [formControlName]="atributo">
                            {{formulario.controles[atributo].label}}</mat-checkbox>
                        <!--Control de Fecha-->
                     
                            <input *ngSwitchCase="'fecha'" class="eleFormulario" type="date" id="datepicker" [formControlName]="atributo" [max]="maxDate" />
                        
                        <!--Control de Select simple-->
                        <mat-form-field *ngSwitchCase="'select'" appearance="outline" class="eleFormulario">
                            <mat-label>{{visualDato[i]}}</mat-label>
                            <mat-select [formControlName]="atributo">
                                <mat-option *ngFor="let valor of formulario.controles[atributo].listado"
                                    [value]="valor">
                                    {{valor}}
                                </mat-option>
                            </mat-select>
                            <mat-error gt-matErrorMessages></mat-error>
                        </mat-form-field>
                        <!--Control de Select Objeto-->
                        <mat-form-field *ngSwitchCase="'selectObjeto'" appearance="outline" class="eleFormulario">
                            <mat-label>{{visualDato[i]}}</mat-label>
                            <mat-select [formControlName]="atributo">
                                <!--Select de objetos-->
                                <mat-option *ngFor="let valor of formulario.controles[atributo].listado"
                                    [value]="formulario.controles[atributo].value === 'all' ? valor : valor[formulario.controles[atributo].value]">
                                    {{valor[formulario.controles[atributo].label] +
                                    (formulario.controles[atributo].secondLabel ?
                                    valor[formulario.controles[atributo].secondLabel] ? ' - ' +
                                    valor[formulario.controles[atributo].secondLabel] : '' : '')}}
                                </mat-option>
                            </mat-select>
                            <mat-error gt-matErrorMessages></mat-error>
                        </mat-form-field>
                        <!--Control de Select Booleano-->
                        <mat-form-field *ngSwitchCase="'selectBoolean'" appearance="outline" class="eleFormulario">
                            <mat-label>{{visualDato[i]}}</mat-label>
                            <mat-select [formControlName]="atributo">
                                <mat-option [value]="true">Si</mat-option>
                                <mat-option [value]="false">No</mat-option>
                            </mat-select>
                            <mat-error gt-matErrorMessages></mat-error>
                        </mat-form-field>
                        <!--Control de Text Area-->
                        <mat-form-field class="eleFormulario" *ngSwitchCase="'textArea'" appearance="outline">
                            <mat-label>{{visualDato[i]}}</mat-label>
                            <textarea matInput [formControlName]="atributo"
                                [gtConversion]="formulario.controles[atributo]?.subFormato"
                                [maxlength]="tableForm?.get(modeloDato[i])?.errors?.['maxlength']?.requiredLength ?? null"></textarea>
                            <mat-error gt-matErrorMessages></mat-error>
                        </mat-form-field>
                        <!--Control de Select Maestro-->
                        <gt-select-maestro *ngSwitchCase="'selectMaestro'"
                            [datos]="formulario.controles[atributo].listado" [control]="tableForm.get(atributo)"
                            [label]="formulario.controles[atributo].label"
                            [secondLabel]="formulario.controles[atributo].secondLabel"
                            [preset]="formulario.controles[atributo].preset"
                            [value]="formulario.controles[atributo].value" [placeholder]="visualDato[i]"
                            [key]="formulario.controles[atributo].key"
                            [multiple]="formulario.controles[atributo].multiple" class="eleFormulario">
                        </gt-select-maestro>

                        <!-- Control de select autocompletado-->
                        <mat-form-field *ngSwitchCase="'selectAutocompletado'" appearance="outline"
                            class="eleFormulario">
                            <mat-label>{{visualDato[i]}}</mat-label>
                            <input type="text" matInput [formControlName]="atributo" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let opcion of formulario.controles[atributo].listado"
                                    [value]="opcion">
                                    {{opcion}}</mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </ng-container>
                </ng-container>
            </div>
        </form>
        <p *ngIf="!tableForm">No se ha podido iniciar el formulario correctamente.</p>
        <div class="dialog-actions" *ngIf="!soloLectura else noEditable">
            <button *ngFor="let action of formulario.extraActions" color="primary" class="btnCancelar"
                (click)="doExtraAction(action)">
                {{action.label}}
            </button>
            <button *ngIf="borrar" color="accent" class="btnCancelar" (click)="ejecutaAPI(true)">Borrar
            </button>
            <span class="example-spacer"></span>
            <div class="botones">
                <button color="accent" class="btnCancelar" (click)="close()">Cancelar</button>
                <button color="primary" (click)="save()">Aceptar</button>
            </div>
        </div>
        <ng-template #noEditable>
            <div class="dialog-actions">
                <button *ngFor="let action of formulario.extraActions" color="primary" class="btnCancelar"
                    (click)="doExtraAction(action)">
                    {{action.label}}
                </button>
                <span class="example-spacer"></span>
                <button color="primary" class="btnCerrar" (click)="close()">Cerrar</button>
            </div>
        </ng-template>

    </div>
</div>