<h1><a href="https://aramirezj.github.io/ngx-generic-tools/">ngx-generic-tools</a></h1>

<h1 id="ngxworkspace">Requirements:</h1>
<p><a href="https://www.npmjs.com/package/@angular/material">Angular material</a> installed in your project</p>
<h1 id="ngxworkspace">Installation</h1>

<p>The recomended version is Angular 15</p>
<p>To install it, you have to execute the command <span class="comando">npm install ngx-generic-tools</span></p>
<p>To start using it, depends of the module you want to use, you have to import the module</p>

<h2 id="development-server">Usage:</h2>
<p>Depends of which module you are using, visit the sections using the side menu</p>
